* {
	margin: 0px;
	padding: 0px;
	font-family: calibri;
}

.container {
	margin: 0px 150px;
}

.container-fluid {
	margin: 0px 75px;
}

.header {
	background-color: #000;
	height: 70px;
	width: 100%;
	position: fixed;
	border-top: 5px orange solid;
}

.nav > ul > li {
	list-style: none;
	float: left;
	color: #eee;
	padding: 19px;
}

.active {
	background-color: orange;
}

.nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.nav ul li p {
	font-size: 12px;
	color: #ccc;
}
.nav > ul > li > a:hover {
	color: orange;
}

.logo {
	float: left;
	margin-right: 160px;
}

.content {
	padding-top: 100px;
}

.konten {
	width: 65%;
	height: auto;
	float: left;
}

.pesan {
	float: right;
	clear: right;
	width: 30%;
	margin-right: 10px;
}

.judul {
	text-align: center;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 10px;
	border-bottom: 3px dotted black;
}

.pesan table {
	width: 100%;
}

.inputan {
	width: 100%;
	border-radius: 5px;
	height: 25px;
}
.btn {
	background-color: orange;
}

.orange {
	color: orange;
}
.garis {
	clear: both;
	height: 10px;
	width: auto;
	background-color: #eee;
	margin-bottom: 30px;
	margin-top: 60px;
	border: none;
}

.info_kontak {
	margin-bottom: 100px;
	padding: 20px 15px;
}

.kiri {
	float: left;
	margin-right: 450px;
}

.kanan img {
	height: 50px;
	width: 50px;
}

.footer {
	text-align: center;
	height: 35px;
	padding-top: 20px;
	width: 100%;
	background-color: #333;
	color: #999;
	font-size: 10px;
	font-family: verdana;
	clear: both;
}

.tabel {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.tabel tr {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.tabel th {
	background-color: #eee;
}

.genap {
	background-color: #eee;
}

.channel {
	background-color: orange;
	border-left: 25px solid blue;
}

.sidebar ul {
	margin-left: -10px;
	margin-top: 10px;
}

.sidebar ul li {

}

.sidebar p {
	text-align: justify;
}

.warn ul li {
	color: red;
	font-size: 13px;
	list-style: disc;
}

.ada {
	color: green;
	font-weight: bold;
}

.habis {
	color: red;
	font-weight: bold;
}

.booking {
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	border: none;
}